
/********** Fi ****************************/

@media print, screen {

html            { background:#f1f1ed; }
body            { color:#2c2f31; font:18px/1.5 Helvetica,Arial,sans-serif; margin:0; padding:0; }
h1,td,th        { text-rendering:optimizeLegibility; }

}


@media print, screen and (min-width:705px) {

h1              { font-size:70px; letter-spacing:-1px; line-height:1.1143; margin:48px 32px 32px; }
a,
a:link          { color:#2c2f31; font-weight:700; text-decoration:none;}
th a,
th a:link       { font-size:22px; font-weight:200; padding-bottom:.3182em; }
footer small    { font-size:21px; font-weight:200; }
a:visited       { color:#6c6f71; }
a:focus,
a:hover         { color:#2c2f31; border-bottom:1px solid #2c2f31; }
th a:hover,
footer a:hover  { color:#2c2f31; }
a:active,
th a:active,
footer a:active { border-color:#e02; color:#e02; }

table           { border-collapse:collapse; margin-bottom:32px; width:100%; }
tr              { border-top:1px solid #dcdfe1; }
td a            { font-size:22px; line-height:1.3636; padding:.5em .5em .2273em 0; }

tr:hover        { background-color:#e6e6e1; }
tr:first-child  { border-top:none; }
tr:hover:first-child
                { background-color:transparent; }
td,
th              { color:#5c5f61; font-weight:200; padding:8px 5px 2px; text-align:right; }

/* ------------ icon column ------------- */
td:first-child,
th:first-child  { display:none; }

th a:before     { content:' '; }
td:last-child,
th:last-child   { padding-right:38px; }
td:nth-child(2) { padding-left:32px; text-align:left; }
th:nth-child(2) { padding-left:32px; text-align:left; }
th:nth-child(2) a
                { padding-right:.5em; }

/* ------------ file -------------------- */
td:nth-child(2) a:before
                { color:#9c9fa1; content:'░ '; }

/* ------------ directory --------------- */
td:nth-child(2) a[href*="/"]:before
                { color:#acafb1; content:' ↓ '; }

/* ------------ parent directory -------- */
td:nth-child(2) a[href^="/"]:before
                { content:' ↑ '; }

footer          { margin:16px 0 64px 32px; }

}


@media screen and (max-width:704px) {

html            { -webkit-text-size-adjust:none; }
h1              { display:none; }
a               { text-decoration:none; }

table,
tbody,
td,
th,
tr              { display:block; margin:0; padding:0; }
tr              { position:relative; }
tr:last-child   { margin-bottom:33px; }
tr:last-child a { border:none; }

td a            { border-bottom:1px solid #dcdfe1; color:#2c2f31; display:block; font-size:22px; font-weight:700; height:56px; line-height:1.6363; overflow:hidden; padding:0 36px 0 18px; text-overflow:ellipsis; white-space:nowrap; }
td a:hover      { background:#e6e6e1; }

/* ------------ directory > ------------- */
td a[href*="/"]:after
                { border:3px solid #8c8f91; border-width:0 3px 3px 0; content:''; display:block; height:7px; position:absolute; top:24px; transform:rotate(-45deg); right:18px; width:7px; -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); }
td a[href*="/"]:hover:after
                { border-color:#2c2f31; }

/* ------------ icon column ------------- */
td:first-child  { display:none; }

/* ------------ date, size -------------- */
td:nth-child(3),
td:nth-child(4) { color:#5c5f61; font-size:16px; font-weight:200; pointer-events:none; position:absolute; text-align:left; top:30px; }

/* ------------ date -------------------- */
td:nth-child(3) { left:18px; }

/* ------------ size -------------------- */
td:nth-child(4) { font-weight:400; left:161px; }

/* ------------ date, size -------------- */
tr:hover td:nth-child(3),
tr:hover td:nth-child(4)
                { color:#2c2f31; }

/* ------------ head -------------------- */
tr:first-child  { height:64px; }
th              { float:right; }
th:first-child  { width:60px; }

/* ------------ head, parent, fi -------- */
footer a,
th a,
td a[href^="/"] { background:#ededea; border:1px solid #bcbfc1; color:#2c2f31; display:block; font-size:18px; font-weight:200; height:33px; line-height:1.8889; margin:12px 0 0; padding:0 13px; }

/* ------------ name -------------------- */
th:nth-child(2) a
                { border-left:none; }
/* ------------ last modified ----------- */
th:nth-child(3) a
                { border-left:none; }
/* ------------ size -------------------- */
th:nth-child(4) a
                { border-radius:5px 0 0 5px; padding-left:14px; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; }

/* ------------ parent ------------------ */
td a[href^="/"] { background:#ededea; border-radius:5px; color:transparent; overflow:hidden; padding-right:16px; position:absolute; left:16px; top:-64px; width:53px; -moz-border-radius:5px; -webkit-border-radius:5px; }
td a[href^="/"]:after
                { border:none; color:#2c2f31; content:'Parent'; display:block; left:14px; position:absolute; top:0; transform:none; -moz-transform:none; -o-transform:none; -webkit-transform:none; }

/* ------------ fi ---------------------- */
footer a        { border-radius:0 5px 5px 0; border-left:none; color:transparent; overflow:hidden; padding:0 16px 0 13px; position:absolute; right:14px; top:0; width:16px; -moz-border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; }
footer a:after  { color:#2c2f31; content:'Fi'; display:block; left:14px; position:absolute; top:0; }

/* ------------ head, parent, fi -------- */
footer a:hover,
th a:hover,
td a[href^="/"]:hover
                { background-color:#ddddda; }

}


@media screen and (max-width:480px) {

tr:last-child   { margin-bottom:29px; }

td a            { font-size:20px; height:50px; line-height:1.6; padding:0 36px 0 18px; }

/* ------------ directory > ------------- */
td a[href*="/"]:after
                { height:6px; top:21px; width:6px; }

/* ------------ date, size -------------- */
td:nth-child(3),
td:nth-child(4) { font-size:14px; top:27px; }

/* ------------ size -------------------- */
td:nth-child(4) { left:146px; }

/* ------------ head -------------------- */
tr:first-child  { height:56px; }
th:first-child  { width:49px; }

/* ------------ head, parent, fi -------- */
footer a,
th a,
td a[href^="/"] { font-size:16px; height:29px; line-height:1.875; margin:12px 0 0; padding:0 10px; }

/* ------------ size -------------------- */
th:nth-child(4) a
                { border-radius:4px 0 0 4px; padding-left:11px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; }

/* ------------ parent ------------------ */
td a[href^="/"] { border-radius:4px; padding-right:11px; top:-56px; width:48px; -moz-border-radius:4px; -webkit-border-radius:4px; }
td a[href^="/"]:after
                { left:11px; top:0; }

/* ------------ fi ---------------------- */
footer a        { border-radius:0 4px 4px 0; padding:0 13px 0 10px; right:14px; width:11px; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; }
footer a:after  { left:10px; }

}


@media print {

h1,td,th,tr,a,
a:before        { background:transparent!important; border-color:black!important; color:black!important; }

}

/********** Fi end ************************/
