
/********** Fi ****************************/

@media screen {

html			{ background:#f0f2f2; }
body			{ font-family:"Helvetica Neue",Helvetica,"Microsoft Sans Serif",sans-serif; margin:0; padding:0; }

table			{ border-collapse:collapse; }

}


@media screen and (min-width:481px) {

body			{ color:#262828; }
h1,td,th		{ text-rendering:optimizeLegibility; }
h1				{ font-size:32px; margin:25px 25px 20px; }

a,
a:link			{ color:#565858; font-weight:700; text-decoration:none;}
footer a,
footer a:link	{ font-weight:400; }
a:visited		{ color:#767878; }
a:focus,
a:hover			{ color:#262828; }
footer a:hover	{ text-decoration:underline; }
a:active		{ color:#767878; }

table			{ margin-bottom:25px; width:100%; }
tr				{ border-top:1px solid #d6d8d8; }
tr:hover		{ background-color:#e6e8e8; }
tr:first-child	{ border-top:none; }
tr:hover:first-child
				{ background-color:transparent; }
td,
th				{ color:#767878; font-size:14px; line-height:1.5; padding:5px 5px; text-align:right; }

/* ------------ icon column ------------- */
td:first-child,
th:first-child	{ display:none; }

td:last-child,
th:last-child	{ padding-right:25px; }
td:nth-child(2)	{ font-size:16px; padding-left:25px; text-align:left; }
th:nth-child(2)	{ padding-left:25px; text-align:left; }

/* ------------ file -------------------- */
td:nth-child(2) a:before
				{ color:#969898; content:'░ '; }

/* ------------ directory --------------- */
td:nth-child(2) a[href*="/"]:before
				{ color:#a6a8a8; content:'↓ '; }

/* ------------ parent directory -------- */
td:nth-child(2) a[href^="/"]:before
				{ content:'↑ '; }

footer			{ color:#767878; font-family:Georgia,sans-serif; margin:16px 0 16px 25px; }

}


@media screen and (max-width:480px) {

html			{ -webkit-text-size-adjust:none; }
h1				{ display:none; }
a				{ text-decoration:none; }

table,
tbody,
td,
th,
tr				{ display:block; margin:0; padding:0; }
tr				{ background:#fafcfc; position:relative; }
tr:hover		{ background:#2f86d8; background:-moz-linear-gradient(-90deg, #2f86d8, #2854c6); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#2f86d8), to(#2854c6)); }

td a			{ border-bottom:1px solid #d8d8d8; color:#262828; display:block; font-size:18px; font-weight:700; height:45px; line-height:30px; overflow:hidden; padding:0 30px 0 16px; text-overflow:ellipsis; white-space:nowrap; }
td a:hover		{ color:#f0f2f2; }

/* ------------ > ----------------------- */
td a[href*="/"]:after
				{ border:3px solid #7f7f7f; border-width:0 3px 3px 0; content:''; display:block; height:6px; position:absolute; top:16px; transform:rotate(-45deg); right:13px; width:6px; -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); }
td a[href*="/"]:hover:after
				{ border-color:#f0f2f2; }

/* ------------ icon column ------------- */
td:first-child	{ display:none; }

td:nth-child(3),
td:nth-child(4)	{ color:#868888; font-size:13px; pointer-events:none; position:absolute; text-align:left; top:26px; }

/* ------------ date -------------------- */
td:nth-child(3) { left:16px; }

/* ------------ size -------------------- */
td:nth-child(4) { font-weight:700; left:136px; }

tr:hover td:nth-child(3),
tr:hover td:nth-child(4)
				{ color:#f0f2f2; }

/* ------------ head, footer ------------ */
footer,
tr:first-child	{ background:#6e829e; border-bottom:1px solid #727d85; border-top:1px solid #cfd6e0; height:41px; background:-moz-linear-gradient(-90deg, #e0e4e7, #c8cfd4 50%, #c5ccd2 50%,  #b5bec6); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#e0e4e7), color-stop(50%, #c8cfd4), color-stop(50%, #c5ccd2), to(#b5bec6)); }
footer			{ border-bottom-color:#a2adb5; border-top:none; height:40px; }
th				{ float:left; }
th:first-child	{ width:76px; }

/* ------------ head links, parent ------ */
footer a,
th a,
td a[href^="/"]	{ background:#829ab1; border:1px solid #727d85; box-shadow:0 1px hsla(0,0%,100%,.3); color:#fff; display:block; font-size:13px; font-weight:700; height:27px; line-height:26px; margin:5px 0 0; padding:0 9px; text-shadow:0 -1px hsla(0,0%,0%,.4); -moz-box-shadow:0 1px hsla(0,0%,100%,.3); -webkit-box-shadow:0 1px hsla(0,0%,100%,.3); }
footer a,
th a,
td a[href^="/"],
td a[href^="/"]:hover
				{ background-image:-moz-linear-gradient(-90deg, hsla(0,0%,100%,.45), hsla(0,0%,100%,.15)  50%, hsla(0,0%,100%,.0) 50%,  hsla(0,0%,100%,.15) ); background-image:-webkit-gradient(linear, 0 top, 0 bottom, from( hsla(0,0%,100%,.45) ), color-stop(50%, hsla(0,0%,100%,.15) ), color-stop(50%, hsla(0,0%,100%,.0) ), to( hsla(0,0%,100%,.15) ) ); }

th:nth-child(2) a
				{ border-radius:5px 0 0 5px; border-right:none; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; }
th:nth-child(3) a
				{ border-right:none; }
th:nth-child(4) a
				{ border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; }

/* ------------ parent ------------------ */
td a[href^="/"]	{ border-radius:16px 5px 5px 16px; color:transparent; left:4px; overflow:hidden; padding-right:7px; position:absolute; text-shadow:none; top:-42px; width:42px; -moz-border-radius:16px 5px 5px 16px; -webkit-border-radius:16px 5px 5px 16px; }

/* ------------ with Fi ----------------- */
footer a		{ border-radius:5px; right:11px; overflow:hidden; padding:0 8px 0 7px; position:absolute; text-shadow:0 -1px hsla(0,0%,0%,.4); margin-top:-13px; -moz-border-radius:5px; -webkit-border-radius:5px; }

footer small,
td a[href^="/"]:hover
				{ color:transparent; }
td a[href^="/"]:after
				{ border:none; color:#fff; content:'Parent'; display:block; left:11px; position:absolute; text-shadow:0 -1px hsla(0,0%,0%,.4); top:0; transform:none; -moz-transform:none; -o-transform:none; -webkit-transform:none; }

footer a:hover,
th a:hover,
td a[href^="/"]:hover
				{ background-color:#2546c0; }

}

/********** Fi end ************************/
